[submodule "Engine/Dependencies/spdlog"]
	path = Engine/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/dependencies/glfw"]
	path = engine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
