[submodule "Engine/Dependencies/GLFW"]
	path = Engine/Dependencies/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Engine/Dependencies/spdlog"]
	path = Engine/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
